<!DOCTYPE html>
<html>
<body>
    <header>
        
        
        <meta charset = "utf-8">
        <title> Home </title>
        <link rel= "stylesheet" ; href = '/css/style.css'>
        <link rel="stylesheet"; href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>  
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <section class="cabecera">
            <section class= "arriba-de-todo">
                <img src= 'images/logo-mercado.svg'width="300px" ; height="100px" ></img>
                <p class= 'navbar'><input type = 'search' placeholder = 'Buscar productos,marcas'style = 'width:250px ; height:30px'>
                 <button id = 'boton'> <i class= 'fas fa-search'></i> </button>
                </p>
            
                <p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito </p>   

            </section>


            <section class="nav-bar">
                <ul class= 'items-1'>
                    <li>Ofertas</li> 
                    <li>Tiendas oficiales</li> 
                    <li>Vender</li> 
                    <li>Ayuda</li> 
                </ul>

                
                <ul class = 'items-2'>
                    <li>Crear tu cuenta <i class="far fa-address-card"></i> </li> 
                    <li>Ingresa <i class="fas fa-sign-in-alt"></i> </li> 
                    <li>Mis compras <i class="fas fa-shopping-basket"></i></li> 
                </ul>
            
            </section>
        
            <button class="burger-menu"> <i class="fas fa-bars"></i> </button>
        
        
        </section>    
        
    
    </header>
    

    <main class="main-register">
        <form action= "/login.html" method="POST">
              
            <div class= 'title-form-login'>Iniciar sesión</div>
            <section class= "form-login">
            <div>
                <label for="name"></label>
                <input type="text" name= "name" id= "name" autofocus= 1 placeholder="Nombre y Apellido" required > 
            </div>
            
            <div>
                <label for="name"></label>
                <input type="password" name= "password" id= "password" autofocus= 1 placeholder="Contraseña" required>
            </div>
            </section>
        </form>
    </main>


</body>

</html>