.cabecera{
    background-color:  #EAC926;
}

.subtitulo-cabecera{
    text-align: center;
}

body{
    font-family: 'Roboto';
    padding: 0%;
    margin: 0;
    width: 100%;
}

.main-index{
    width: 80%;
    padding-bottom: 30px;
    padding-left: 50px;
}


article{
    font-family: 'Roboto';
    font-size: 12px;
}

h2{
    font-size: 24px;
    margin-left: 20px;
}

.precios{
    font-size: 18px;
}

.descuento{
    font-size: 16px;
    color: green;
}

.descripcion{
    font-size: 16px;
}

.burger-menu{
   color: white;
    border: 5px solid #03264C;
    margin: 5px;
    background-color: #03264C;
    border-radius:5px;
}

main section  i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 25px;
    height: 25px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    right: 15px;
    top: -18px;
    color:#39b54a;
    position: absolute;
   }

h4{
    font-size: 16px;
}


footer{
    text-align: center;
    
}

.iconos{
    font-size: 2em;
    margin: 10px;
    color:  #03264C
}


.articulos-de-venta{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.elementos1{
    margin: 10px;
    border-top: solid 1px #ebebeb;
    padding: 15px;
    position: relative
}



.seccion1{
    display: flex;
    
}

.seccion2{
    display: flex;
    
}

footer{
    background-color: #ebebeb;
    padding: 20px;
}

.footer-description{
    display: flex;
}
.footer-description article{
    margin: 20px;
}




@media(max-width:769px){

    .arriba-de-todo{
        display: flex;
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    .items-1{
        display: none;
    }
    .items-2{
        display: none;
    }

    .seccion1{
        display: inline-block;
        max-width: 300px;
    }
    
    .seccion2{
        display: inline-block;
        max-width: 300px;

   
    }

    .articulos-de-venta{
        width: 80%;
        justify-content: center;
        margin-left: 40px;
        

    }
    .cabecera{
        display: flex;
        flex-direction: column;  
        justify-content: center;
        align-items: center;
    }


    .intereses li{
        list-style: none;
        text-align: left;

    }

    .main-register{
        display: flex;
        justify-content: center;
        background-color: #ebebeb;
        padding: 30px;
    }
    .form-signup{
        display: flex;
        padding: 15px;
        justify-content: center;
        background-color:#ebebeb;
        text-align: center;
       
    
    }

    .form-signup input{
        padding: 15px;
        margin: 8px;
        border: solid 3px white;
        border-radius: 8px;
    }


    .title-form{
        font-size: 16px;
        text-align: center;
        margin: 10px;
        color: #03264C
    }

    .buttonlogin{
        text-align: center;
        color: white;
        background-color: cornflowerblue;
        border: solid 10px cornflowerblue;
        border-radius: 5px;
    }


    .form-login{
        display: in;
        padding: 15px;
        justify-content: center;
        flex-direction: column;
        background-color:#ebebeb;
        text-align: center;

    }

    .form-login input{
        padding: 15px;
        margin: 8px;
        border: solid 3px white;
        border-radius: 8px;

    }

    .title-form-login{
        font-size: 16px;
        text-align: center;
        margin: 5px;
        padding-top: 10px;
        color: #03264C;
    }

    .formularioLogin{
        display: flex;
        flex-direction: column;
    }

    .footer-description{
        display: flex;
        flex-direction: column;
    }

}   
@media (min-width: 769px){
    .arriba-de-todo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    .nav-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-bar ul{
        padding: none;
    }

    .items-1{
        display: flex;
        list-style:none;
    }

    .items-2{
        display: flex;
        list-style:none;
    }

    .items-1 li{
        margin: 10px;
    }

    .items-2 li{
        margin: 10px;
    }

    .burger-menu{
        display: none;
    }

    .seccion1{
        display: flex;
        justify-content: space-between;
        flex-direction:row;
    }

    .seccion2{
        display: flex;
        justify-content: space-between;
        flex-direction:row;
    }
    
    .articulos-de-venta {
        width: 25%
    }

    .main-register{
        display: flex;
        justify-content: center;
        background-color: #ebebeb;
        padding: 30px;
    }
    .form-signup{
        display: flex;
        padding: 15px;
        justify-content: center;
        background-color:#ebebeb;
        text-align: center;
        border: solid 1px gray;
        width: 40%;
        box-shadow: 0px 0px 2px rgb(100, 100, 100);
    }

    .form-signup input{
        padding: 15px;
        margin: 8px;
        border: solid 3px white;
        border-radius: 8px;
    }


    .title-form{
        font-size: 16px;
        text-align: center;
        margin: 10px;
        color: #03264C
    }

    .buttonlogin{
        text-align: center;
        color: white;
        background-color: cornflowerblue;
        border: solid 10px cornflowerblue;
        border-radius: 5px;
    }


    .form-login{
        display: in;
        padding: 15px;
        justify-content: center;
        flex-direction: column;
        background-color:#ebebeb;
        text-align: center;

    }

    .form-login input{
        padding: 15px;
        margin: 8px;
        border: solid 3px white;
        border-radius: 8px;

    }

    .title-form-login{
        font-size: 16px;
        text-align: center;
        margin: 5px;
        padding-top: 10px;
        color: #03264C;
    }

    .formularioLogin{
        display: flex;
        flex-direction: column;
    }

    .intereses li{
        list-style: none;
        text-align: left;
}
}